<%layout('layouts/boilerplate')%>
   <link rel="stylesheet" href="/stylesheets/stars.css">

    <div class="row justify-content-between">
    
        <div class="col-md-5">
          
            

            <div class="card mb-3">
        
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                     <% if(room.image){ %> 
                        <% room.image.forEach((img,i) => { %>
                      <div class="carousel-item <%= i===0 ? 'active' : '' %> ">
                        <img src="<%= img.url %>" class="d-block w-100" alt="...">
                      </div>
                      <% }) %> 
                      <% } else{%>
                             <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png?20190827162820" alt="" class="card-img-top">
                        <% } %>  
                    </div>
                    <% if(room.image.length>1){ %> 
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                    <% } %> 
                  </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= room.title %>
                    </h5>
                    <p class="card-text">
                        <%= room.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <b>Location</b> : <%= room.location %>
                    </li>
                    <li class="list-group-item"><b>Creator</b> : <%= room.author.username %>
                    </li>
                    <li class="list-group-item"><b>Price</b> :&#8377 <%= room.price %>/day </li>
                    <li class="list-group-item"><b>Contact</b> : <%= room.author.email %> </li>
                    <li class="list-group-item"><b>Vacancy</b> : <%= room.vacancy %> </li>
                </ul>
                <% if(currentUser && room.author.equals(currentUser._id)) {%>
                    <div class="card-body">
                        <form action="/room/<%= room._id %>/edit" class="d-inline">
                            <button type="submit" class="btn btn-warning btn-sm mt-2">Edit</button>
                        </form>
                        <form action="http://localhost:5000/room/<%= room._id %>/delete?_method=DELETE" method="post"
                            class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm mt-2">Delete</button>
                        </form>
                    </div>
                    <% } %>
            </div>
        </div>
        <% if (currentUser) {%>
            <div class="col-md-5">
                <div id='map' style='width: 350px; height: 300px;'></div>
                <h2>Leave a review</h2>
                <div>
                    <form action="/room/<%= room.id %>/review" method="post" class="mb-3 validated"
                        novalidate>
                        <fieldset class="starability-growRotate" required>
                            <legend>Rating:</legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                          </fieldset>
                        <div class="mb-3">
                            <label class="form-label" for="review">Review</label>
                            <textarea class="form-control" name="review[body]" id="review" cols="3" rows="3"
                                required></textarea>
                            <div class="invalid-feedback">
                                write something before submit
                            </div>
                        </div>
                        <button class="btn btn-success">Add review</button>
                    </form>
                    <%for(let review of room.reviews){ %>
                        <div class="mb-2 card">
                            <div class="card-body">
                                <h5 class="card-title text-muted"><%= review.author.username %></h5>
                                <p class="starability-result" data-rating="<%= review.rating %>">
                                  Rated: <%= review.rating %> stars
                                </p>
                                </h6>
                                <p class="card-text">Rating: <%= review.body %>
                                </p>
                                <% if(currentUser && review.author.equals(currentUser._id)) {%>
                                    <form action="/room/<%= room.id %>/review/<%= review.id %>?_method=DELETE"
                                        method="post">
                                        <button class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
            <% } %>
    </div>

    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const room = <%- JSON.stringify(room) %>
    </script>

   <script src="/javascript/showPageMap.js">
   </script>